@import "tailwindcss";
:root {
  /* Սահմանում ենք հիմնական գույնը (օրինակ՝ մանուշակագույնը) */
  --swiper-theme-color: #6c24b5;
  --swiper-navigation-size: 24px; /* Սլաքների չափսը */
}

/* Եթե ցանկանում ես կետիկները դարձնել ավելի մեծ կամ այլ ձևի */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #6c24b5;
}

